/*
 * Bootstrap vars
 */
$grid-gutter-width: 10px;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/*
 * Color Pallet
 */
$gray: #BBB;
$light-gray: #DDD;
$white: #FFF;


/*
 * General layout
 */
.wrapper{
  background-color: $gray;
}

header, footer{
  height: 200px;

  h1{
    background-color: green;
    margin: 0;
    padding: 0;
    text-align: center;

    @media (max-width: 800px) and (min-width: 600px){
      // background-color: red;
      display: none;
    }
  }

  h2{
    display: none;

    @media (max-width: 800px){
      display: block;
    }
  }
}

/*
 * Standard column
 */
.column{
  background-color: $white;
  padding: 10px;
  border: 5px solid $light-gray;

  @media (min-width: $screen-md-min){
    margin-bottom: 10px;
    height: 300px;
    overflow: hidden;
  }
}

.half{
  height: 150px;
}
